* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 1rem;
	list-style: none;
	text-decoration: none;
	outline-style: none;
	background-color: transparent;
	border: none;
	outline: none;
	font-family: Arial, sans-serif;
}
body {
	--background: #222;
	--header: #111;
	--text: #eee;
	--switch: start;
	background: var(--background);
	color: var(--text);
}

body.light {
	--background: #ddd;
	--header: #eee;
	--text: #111;
	--switch: end;
	background: var(--background);
	color: var(--text);

}
a {
	text-decoration: none;
	color: inherit;
	font-weight: inherit;
	font-size: inherit;
}
a:hover {
	border-bottom: 1px solid var(--text);
}
input:hover,
button:hover {
	box-shadow: 0 0 4px var(--text);
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 30px;
	width: 100%;
	height: 40px;
	background: var(--header);

	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
}
header ul {
	display: flex;
	gap: 10px;
}

header nav {
	display: flex;
	align-items: center;
	gap: 10px;
}

header nav span {
	width: 40px;
	height: 10px;
	border-radius: 5px;
	background: var(--background);
	display: flex;
	align-items: center;
	justify-content: var(--switch);
}

header nav span::after {
	content: "";
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: var(--text);
}
