#usuarios{
    margin-top: 50px;
}

#logs{
    margin: 50px;
    min-width: 400px;
    min-height: 550px;
    padding: 50px;
    border-radius: 25px;
    background-color: var(--header);

}
#constatacoes, #avaliacao, #plano{
    margin: 50px;
    width: 400px;
    height: 550px;
    padding: 50px;
    border-radius: 25px;
    background-color: var(--header);

}
#logs div:first-of-type, #constatacoes div:first-of-type, #avaliacao div:first-of-type, #plano div:first-of-type{
    margin-top: 30px;
}
#containerLogs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
textarea{
    color: var(--color);
    margin-top: 20px;
    padding: 20px;
    resize: none;

    border-radius: 20px;

    height: 100%;
    width: 100%;
    background-color: var(--background);
}
#constatacoes, #avaliacao, #plano{

    display: flex;
    flex-direction: column;
}
button{
    width: 100%;
    margin-bottom: 50px;
    background-color: var(--header);
    color: var(--color);
    padding: 30px;
}
#enviadoCheck{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}