#margin-top{
	padding-top: 4px;
}
section .container, #pegarOsUsuarios a{

	width: 100%;
	height: 80px;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: var(--header);
}
.hello-user {
	display: flex;
	gap: 1em;
}
.hello-user * {
	font-size: 2em;
}
#user {
	margin-bottom: 20px;
}
h1 {
	font-size: 1em;
}
main {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}
.quest {
	padding: 50px;
	margin-bottom: 50px;

	width: 80%;

	border-radius: 30px;

	background-color: var(--header);
}
.profile {
	margin: 2em 0;
	padding: 50px;

	border-radius: 30px;

	background-color: var(--header);
}
.profile-inter {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.conteiner-profile {
	display: flex;
	flex-direction: column;
}
.conteiner-profile p {
	margin-left: 1em;
}
.descricao {
	margin-top: 1em;
	display: flex;
	flex-direction: column;
	gap: 1em;
}
.questoes:hover {
	text-decoration: underline;
}
