
#container {
	width: 350px;
	height: 500px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

    background-color: var(--header);
    border-radius: 40px;
}
input,
button {
	color: var(--text);
	border: 1px solid var(--text);
	padding: 10px;
	border-radius: 15px;
	box-shadow: none;
}
input:-webkit-autofill {
	-webkit-text-fill-color: var(--text);
	-webkit-box-shadow: 0 0 0px 1000px var(--header) inset;
	text-decoration: none;
}
button {
    cursor: pointer;
	width: 100%;
    margin-top: 1em;
}
button:hover{
    background-color: var(--background);
}
label{
    cursor: pointer;
}
#criar {
	width: 100vw;
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
form {
    display: flex;
	flex-direction: column;
	justify-content: center;
    gap: 8px;
    margin-top: 2em;
}
#container span {
	font-size: 25px;
}
#container form * {
	font-size: 15px;
}
form button{
	margin-bottom: 15px;
}
