* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 1rem;
	list-style: none;
	text-decoration: none;
	outline-style: none;
	background-color: transparent;
	border: none;
	outline: none;
}
body {
	--background: #222;
	--header: #111;
	--text: #eee;
	--switch: start;
	background: var(--background);
	color: var(--text);
}

body.light {
	--background: #ddd;
	--header: #eee;
	--text: #111;
	--switch: end;
	background: var(--background);
	color: var(--text);
}
a {
	text-decoration: none;
	color: inherit;
	font-weight: inherit;
	font-size: inherit;
}
a:hover {
	border-bottom: 1px solid var(--text);
}
input:hover,
button:hover {
	box-shadow: 0 0 4px var(--text);
}
